<footer>
<!--    <div>-->
<!--      <img src="assets/Images/flor.png" alt="" class="logo-image">-->
<!--    </div>-->
    <div class="social-media-icons">
      <span><a href="https://github.com/Flo-Adikwu"><img src="assets/Images/github.png" alt="" class="social-media"></a></span>
      <span><a href="https://twitter.com/florensadi"><img src="assets/Images/twitter.png" alt="" class="social-media"></a></span>
      <span><a href="https://www.linkedin.com/in/florenceadikwu1"><img src="assets/Images/linkedin.png" alt="" class="social-media"></a></span>
      <span><a href="https://www.instagram.com/florence_adikwu"><img src="assets/Images/instagram-sketched.png" alt="" class="insta"></a></span>
    </div>
  <p>Copyright 2020 | All Rights Reserved</p>
</footer>
