<header>
  <div class="flex-container">
<!--  <div class="image-div">-->
<!--  </div>-->
    <img src ="assets/Images/left-arrow.png" alt="" class="left-arrow-icon" routerLink="/">
    <div class="description">
    <mat-card>
      <p class="full-name">FLORENCE ADIKWU</p>
      <p class="stack">I'm a passionate frontend developer</p>
    <p class="about-me">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
      magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
      consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
      Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </p>
      <button mat-flat-button color="primary">VIEW PORTFOLIO</button>
    </mat-card>
  </div>
    <img src ="assets/Images/next.png" alt="" class="next-icon" routerLink="/skills">
  </div>
</header>
