<header>
  <div class="flex-container">
    <!--  <div class="image-div">-->
    <!--  </div>-->
    <img src ="assets/Images/left-arrow.png" alt="" class="left-arrow-icon" routerLink="/about">
    <div class="about-skills">
      <mat-card>
        <div class="skill-heading">
          <p class="skills">My Skills</p>
          <p class="skills-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
            magna aliqua.</p>
        </div>
        <div class="skills-container">
          <div>
            <ul>
              <li>HTML</li>
              <li>CSS</li>
              <li>SCSS</li>
              <li>BOOTSTRAP/MATERIAL</li>
            </ul>
          </div>
          <div>
            <ul>
              <li>JAVASCRIPT</li>
              <li>TYPESCRIPT</li>
              <li>ANGULAR</li>
              <li>GIT</li>
            </ul>
          </div>
        </div>
      </mat-card>
    </div>
    <img src ="assets/Images/next.png" alt="" class="next-icon">
  </div>
</header>
