<app-nav-bar></app-nav-bar>
<header>
  <div class="flex-container">
    <div class="description">
      <p class="greeting">HELLO!</p>
      <p class="full-name">I'm Florence Adikwu</p>
      <p class="stack">Frontend Web Developer</p>
      <button mat-raised-button color="primary">HIRE ME!</button>
    </div>
    <div class="image-div"
         style="background: url(assets/Images/florence_adikwu.jpeg);
         background-size: cover; width: 85%; height: 430px;
         border-radius: 100px;">
    </div>
    <img src ="assets/Images/next.png" alt="" class="next-icon">
  </div>
</header>
<app-footer></app-footer>

